.DS_Store
page/.DS_Store
/dist/
/distpage/
/node_modules/
/deploy/banma_page/
npm-debug.log
/mock/
/tmp/
npm-debug.log
/tags
sonar-project.properties
.sonar
webpack.config.temp.js
.idea/
static/app/starfire/js/template/.cache/
*.swp
.cache/
.idea/dictionaries/xiezhiqiang.xml
